# [作業目標]


1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

# 作業

In [3]:
# 記得先 Import 正確的套件

import pandas as pd
import numpy as np

### 1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

In [8]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})
print(df1)
print('-------------------------------')
print(df2)

    fruit  weight  price
0   apple    high     11
1  banana  medium      2
2  orange     low     12
3   apple    high     14
4  banana  medium      0
5  orange     low     13
6   apple    high      9
7  banana  medium      5
8  orange     low      2
-------------------------------
    fruit weight  price
0   apple   high     13
1  orange    low      2
2    pine   high      0
3   apple    low      4
4  orange   high      1
5    pine    low      5

In [5]:
# - 依照 fruit 欄位做合併

pd.merge(df1, df2, on='fruit')

     fruit weight_x  price_x weight_y  price_y
0    apple     high        9     high        7
1    apple     high        9      low        0
2    apple     high        4     high        7
3    apple     high        4      low        0
4    apple     high       12     high        7
5    apple     high       12      low        0
6   orange      low        7      low        2
7   orange      low        7     high        0
8   orange      low        0      low        2
9   orange      low        0     high        0
10  orange      low        4      low        2
11  orange      low        4     high        0

In [6]:
# - 依照 index 索引做合併

df1.join(df2)

ValueError: columns overlap but no suffix specified: Index(['fruit', 'weight', 'price'], dtype='object')

### 2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

In [ ]:
'''
因為merge預設是用inner join,會排出沒有交集的資料
'''

### 3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

In [ ]:
'''
因為pandas join 對同名欄位沒有預設的處理名稱
'''

In [9]:
df1.join(df2, lsuffix='_x', rsuffix='_y')

  fruit_x weight_x  price_x fruit_y weight_y  price_y
0   apple     high       11   apple     high     13.0
1  banana   medium        2  orange      low      2.0
2  orange      low       12    pine     high      0.0
3   apple     high       14   apple      low      4.0
4  banana   medium        0  orange     high      1.0
5  orange      low       13    pine      low      5.0
6   apple     high        9     NaN      NaN      NaN
7  banana   medium        5     NaN      NaN      NaN
8  orange      low        2     NaN      NaN      NaN